<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN""http://www.springframework.org/dtd/spring-beans-2.0.dtd">-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="myInit" default-destroy-method="cleanUp">


    <bean id="triangle" class = "main.java.Triangle" >

        <property name = "pointA" ref="pointA" />
        <property name = "pointB" ref ="pointB"/>
        <property name = "pointC" ref ="pointC"/>
    </bean>

    <bean  id ="pointA" class="main.java.Point" >
        <property name = "x" value = "${pointA.pointX}"></property>
        <property name="y" value="${pointA.pointY}"></property>
    </bean>

    <bean id = "pointB" class="main.java.Point">
        <property name = "x" value = "-1"></property>
        <property name="y" value="0"></property>
    </bean>
    <bean id = "pointC" class="main.java.Point">
        <property name = "x" value = "1"></property>
        <property name="y" value="0"></property>
    </bean>

    <bean id="circle" class = "main.java.Circle" >
        <property name = "center" ref="pointA" />

    </bean>

    <bean class="main.java.MyBeanFactoryPP"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name = "locations" value="classpath:pointsconfig.properties"/>
    </bean>
    <!--<bean class="main.java.DisplayNameBeanPostProcessor"/>-->
</beans>
